version: '3.1'
services:
  mongo:
    container_name: mongo_container
    image: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=ngocduong
      - MONGO_INITDB_ROOT_PASSWORD=12345678aA
    ports:
      - "27018:27017"
    volumes:
      - volume_mongo:/data/db
    networks:
      - connect
  node_app:
    container_name: node_app
    build:
      context: .
      dockerfile: dockerfile.dev
    restart: always
    ports:
      - "5000:4000"
    depends_on:
      - mongo
volumes:
  volume_mongo:
networks:
  connect:
